In [182]:
import numpy as np
import pandas as pd

In [183]:
interactions = pd.read_csv('RAW_interactions.csv')
recipes = pd.read_csv('RAW_recipes.csv')

In [184]:
interactions.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [185]:
recipes.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [186]:
recipes=recipes[['name','id','tags','contributor_id','ingredients']]

In [187]:
recipes.head()

,name,id,tags,contributor_id,ingredients
0,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...",47892,"['winter squash', 'mexican seasoning', 'mixed ..."
1,a bit different breakfast pizza,31490,"['30-minutes-or-less', 'time-to-make', 'course...",26278,"['prepared pizza crust', 'sausage patty', 'egg..."
2,all in the kitchen chili,112140,"['time-to-make', 'course', 'preparation', 'mai...",196586,"['ground beef', 'yellow onions', 'diced tomato..."
3,alouette potatoes,59389,"['60-minutes-or-less', 'time-to-make', 'course...",68585,"['spreadable cheese with garlic and herbs', 'n..."
4,amish tomato ketchup for canning,44061,"['weeknight', 'time-to-make', 'course', 'main-...",41706,"['tomato juice', 'apple cider vinegar', 'sugar..."

In [188]:
interactions=interactions[['user_id','rating','recipe_id']]

In [189]:
interactions.head()

   user_id  rating  recipe_id
0    38094       4      40893
1  1293707       5      40893
2     8937       4      44394
3   126440       5      85009
4    57222       5      85009

In [190]:
recipes.rename(columns={'id':'recipe_id'},inplace=True)

In [191]:
recipes

,name,recipe_id,tags,contributor_id,ingredients
0,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...",47892,"['winter squash', 'mexican seasoning', 'mixed ..."
1,a bit different breakfast pizza,31490,"['30-minutes-or-less', 'time-to-make', 'course...",26278,"['prepared pizza crust', 'sausage patty', 'egg..."
2,all in the kitchen chili,112140,"['time-to-make', 'course', 'preparation', 'mai...",196586,"['ground beef', 'yellow onions', 'diced tomato..."
3,alouette potatoes,59389,"['60-minutes-or-less', 'time-to-make', 'course...",68585,"['spreadable cheese with garlic and herbs', 'n..."
4,amish tomato ketchup for canning,44061,"['weeknight', 'time-to-make', 'course', 'main-...",41706,"['tomato juice', 'apple cider vinegar', 'sugar..."
...,...,...,...,...,...
231632,zydeco soup,486161,"['ham', '60-minutes-or-less', 'time-to-make', ...",227978,"['celery', 'onion', 'green sweet pepper', 'gar..."
231633,zydeco spice mix,493372,"['15-minutes-or-less', 'time-to-make', 'course...",1500678,"['paprika', 'salt', 'garlic powder', 'onion po..."
231634,zydeco ya ya deviled eggs,308080,"['60-minutes-or-less', 'time-to-make', 'course...",37779,"['hard-cooked eggs', 'mayonnaise', 'dijon must..."
231635,cookies by design cookies on a stick,298512,"['30-minutes-or-less', 'time-to-make', 'course...",506822,"['butter', 'eagle brand condensed milk', 'ligh..."
231636,cookies by design sugar shortbread cookies,298509,"['30-minutes-or-less', 'time-to-make', 'course...",506822,"['granulated sugar', 'shortening', 'eggs', 'fl..."

In [192]:
merge_df = recipes.merge(interactions,on='recipe_id')

In [193]:
merge_df

,name,recipe_id,tags,contributor_id,ingredients,user_id,rating
0,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...",47892,"['winter squash', 'mexican seasoning', 'mixed ...",4470,5
1,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...",47892,"['winter squash', 'mexican seasoning', 'mixed ...",593927,5
2,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...",47892,"['winter squash', 'mexican seasoning', 'mixed ...",178427,5
3,a bit different breakfast pizza,31490,"['30-minutes-or-less', 'time-to-make', 'course...",26278,"['prepared pizza crust', 'sausage patty', 'egg...",28603,0
4,a bit different breakfast pizza,31490,"['30-minutes-or-less', 'time-to-make', 'course...",26278,"['prepared pizza crust', 'sausage patty', 'egg...",346277,5
...,...,...,...,...,...,...,...
1132362,zydeco ya ya deviled eggs,308080,"['60-minutes-or-less', 'time-to-make', 'course...",37779,"['hard-cooked eggs', 'mayonnaise', 'dijon must...",844554,5
1132363,cookies by design cookies on a stick,298512,"['30-minutes-or-less', 'time-to-make', 'course...",506822,"['butter', 'eagle brand condensed milk', 'ligh...",804234,1
1132364,cookies by design sugar shortbread cookies,298509,"['30-minutes-or-less', 'time-to-make', 'course...",506822,"['granulated sugar', 'shortening', 'eggs', 'fl...",866651,1
1132365,cookies by design sugar shortbread cookies,298509,"['30-minutes-or-less', 'time-to-make', 'course...",506822,"['granulated sugar', 'shortening', 'eggs', 'fl...",1546277,5
1132366,cookies by design sugar shortbread cookies,298509,"['30-minutes-or-less', 'time-to-make', 'course...",506822,"['granulated sugar', 'shortening', 'eggs', 'fl...",1803287907,0

In [194]:
merge_df.isnull().sum()

name              1
recipe_id         0
tags              0
contributor_id    0
ingredients       0
user_id           0
rating            0
dtype: int64

In [195]:
merge_df.dropna(inplace=True)

In [196]:
merge_df.duplicated().sum()

0

In [197]:
import ast

In [198]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i) 
    return L

In [199]:
temp_df=merge_df

In [200]:
temp_df['ingredients'] = temp_df['ingredients'].apply(convert)

In [201]:
temp_df['tags'] = temp_df['tags'].apply(convert)

In [202]:
def convert4(L):
    L1 = []
    for i in L:
        L1.append(i.replace("-",""))
    return L1

def convert5(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [ ]:
temp_df['ingredients'] = temp_df['ingredients'].apply(convert4)
temp_df['tags'] = temp_df['tags'].apply(convert4)
temp_df['ingredients'] = temp_df['ingredients'].apply(convert5)
temp_df['tags'] = temp_df['tags'].apply(convert5)

In [ ]:
temp1_df=temp_df[['name','recipe_id','tags','ingredients','rating']]

In [ ]:
temp1_df

In [ ]:
temp3_df = temp1_df.groupby('recipe_id').count()['rating'].reset_index()

In [ ]:
temp3_df.rename(columns={'rating':'num_rating'},inplace=True)

In [ ]:
temp3_df

In [ ]:
temp4_df=temp3_df.merge(temp1_df,on='recipe_id')

In [ ]:
temp4_df=temp4_df[['recipe_id','num_rating','name','tags','ingredients']]

In [ ]:
temp4_df

In [ ]:
temp4_df=temp4_df.drop_duplicates('recipe_id')

In [ ]:
temp4_df

In [ ]:
merge1_df=temp4_df

In [ ]:
merge1_df['fin_tags']=merge1_df['tags']+merge1_df['ingredients']

In [ ]:
merge1_df=merge1_df[['name','recipe_id','fin_tags','num_rating']]

In [ ]:
merge1_df

In [ ]:
merge1_df['fin_tags'][231636]

In [ ]:
merge1_df['fin_tags'][0]

In [ ]:
merge1_df['fin_tags'] = merge1_df['fin_tags'].apply(lambda x: " ".join(x))

In [ ]:
merge1_df

In [ ]:
merge2_df=merge1_df

In [ ]:
merge2_df

In [ ]:
merge3_df = merge2_df[merge2_df['num_rating']>=10].sort_values('recipe_id',ascending=False).reset_index()

In [ ]:
merge3_df=merge3_df.drop_duplicates('recipe_id')

In [ ]:
merge3_df=merge3_df[['name','recipe_id','fin_tags','num_rating']]

In [ ]:
merge3_df.rename(columns={'name':'recipe_name'},inplace=True)

In [ ]:
merge3_df

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=500,stop_words='english')

In [ ]:
vector = cv.fit_transform(merge3_df['fin_tags']).toarray()

In [ ]:
vector

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vector)

In [ ]:
similarity

In [ ]:
def recommend(dish):
    recommended_products=[];
    if not merge3_df[merge3_df['recipe_name'] == dish].empty:
        index = merge3_df[merge3_df['recipe_name'] == dish].index[0]
        distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
        for i in distances[1:10001]:
            recommended_products.append(merge3_df.iloc[i[0]].recipe_id)
        return recommended_products

In [ ]:
merge3_df

In [ ]:
pip install fuzzywuzzy

In [ ]:
pip install python-Levenshtein

In [ ]:
names_df=merge3_df[['recipe_name']]

In [ ]:
from fuzzywuzzy import fuzz, process

In [ ]:
target_name = 'fries'

In [ ]:
similar_names = process.extract(target_name, names_df['recipe_name'], limit=1)

In [ ]:
recommended_products=[]
for name in similar_names:
    if name[1]/name[2]>=1:
        recommended_products=recommend(name[0])

In [ ]:
recommended_products

In [ ]:
recommended_df = pd.DataFrame(recommended_products, columns=['recipe_id'])

In [ ]:
recommended_df

In [ ]:
merge_df=merge_df[['name','recipe_id','user_id','rating']]

In [ ]:
merge_df

In [ ]:
collab_df=merge_df.merge(recommended_df,on='recipe_id')

In [ ]:
collab_df

In [ ]:
collab_df.isnull().sum()

In [ ]:
content_based_df=collab_df

In [ ]:
x=collab_df.groupby('user_id').count()['rating'] > 5
x

In [ ]:
users_with_more_ratings=x[x].index
users_with_more_ratings

In [ ]:
filtered_rating = collab_df[collab_df['user_id'].isin(users_with_more_ratings)]
filtered_rating

In [ ]:
y = filtered_rating.groupby('name').count()['rating']>=10
famous_food = y[y].index
famous_food

In [ ]:
final_ratings = filtered_rating[filtered_rating['name'].isin(famous_food)]
final_ratings

In [ ]:
pt = final_ratings.pivot_table(index='name',columns='user_id',values='rating')
pt.fillna(0,inplace=True)
pt

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_scores = cosine_similarity(pt)

In [ ]:
similarity_scores.shape

In [ ]:
def recommend_collab(dish_name):
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data